<tofus>
	<params>
		<param id="param_arch">
			<arch current="yes">x86</arch>
			<arch>x86_64</arch>
		</param>
		<param id="param_cflags">
			<![CDATA[
				-Os -masm=intel -march=pentium-m
			]]>
		</param>
	</params>
	<sections>
		<section id="section_general">
			<name>General</name>
		</section>
		<section id="section_advanced">
			<name>Advanced</name>
		</section>
	</sections>
</tofus>
